name: Go
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
jobs:
  go:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      - name: Check Format
        if: matrix.os == 'ubuntu-latest'
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          go install mvdan.cc/gofumpt@latest
          make checkfmt
      - name: Test
        run: |
          go test -v ./...
      - name: Build
        run: |
          go build -v ./...
          go build -v -tags=debug ./...
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
