name: Go
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
jobs:
  go:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      - if: matrix.os == 'ubuntu-latest'
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: matrix.os == 'ubuntu-latest'
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          go install mvdan.cc/gofumpt@latest
          just checkfmt
      - run: |
          go test -race -v ./...
      - run: |
          go build -race -v ./...
          go build -race -v -tags=debug ./...
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      - name: golangci-lint
        with:
          skip-cache: true
        uses: golangci/golangci-lint-action@v3
